.container{
    width:80%;
    height: 1000px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.left__div{
    background-color: yellow;
    width: calc(75% - 10px);
    height: 40%;
    border: 1px solid black;
}
.right__div{
    background-color: yellow;
    width: calc(22% -30px );
    height: 700px;
    margin-left: 10px;
    border: 1px solid black;
}