.wrapper{
    width: 960px;
    display: flex;
}
.one, .two, .three {
    background-color: green;
    width: calc(33% - 10px);
    border: 1px solid black;
}
@media (max-width:800px) {
    .one, .two, .three {
        width: 100%;
    }
    .wrapper{
        flex-direction:column;
    }
}
